<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Thanks for your interest in Bitspace360!</h1>
        <p>
            We will be in touch regarding your inquiry within 24 hours.
        </p>
        <p>
            Regards,<br>
            Bitspace360 Team
        </p>
    </body>
</html>