<div class="container">
  <div class="columns twelve ethereum post">
    <ul>
      <li class="first"><span class="chicklet">BIP70 INTRO</span></li>
      <li><p class="date">02.17.2014</p></li>
    </ul>
    <h2>Kevin Green Introduces BIP70, aka <i>the Payment Protocol,</i> and Explains How it Simplifies Bitcoin Payments for Merchants and Consumers</h2>

    <div class="outline">
      <div class="video">
        <iframe width="560" height="349" src="//www.youtube.com/embed/PLdBkZVAlms" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="resources">
      <span>Additional Resources: </span><br>
      <%= link_to "Download the deck", "/bip70.pdf", target: "_blank" %><br>to follow along with Kevin, join the <a href="http://www.meetup.com/SF-Bitcoin-Devs/" target="_blank"> SF Bitcoin Devs MeetUp,</a><br>and consider a <a href="/pages/donate">donation to Bitspace360 →</a><br>
      Discuss the talk on Twitter using #BIP70 or #Bitspace360<br>
    </div>
    <hr class="twitter"> <a name="twitter"></a>
    <a class="twitter-timeline" href="https://twitter.com/search?q=%23bitspace360+%23BIP70" data-widget-id="436339248958955520">Tweets about "#bitspace360 #BIP70"</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  </div>
  <div class="columns four sidebar">
    <ul>
      <li>
        <div class="share-button">
          <a href="http://www.meetup.com/SF-Bitcoin-Devs/" target="_blank" class="meetup-button">Join the MeetUp</a>
        </div>
      </li>
      <li>
        <div class="share-button">
          <a href="#" id="twitter" class="twitter-button">Discuss on Twitter</a>
        </div>
      </li>
    </ul>
    <hr>
    <span class="sidebar-header">Further Reading: </span><a href="https://code.google.com/p/bitcoinj/wiki/PaymentProtocol" target="_blank">Bitcoinj Documentation,</a>
    <a href="https://bitcoincore.org/~gavin/createpaymentrequest.php" target="_blank"> PaymentRequest Generator,</a>
    <a href="https://github.com/bitcoinj/bitcoinj/tree/master/tools/" target="_blank"> Wallet Tool Sample Implimentation</a>
  </div>
</div>