<div class="container">
  <div class="columns twelve ethereum post">
    <div class="outline">
      <div class="poster">
        <%= image_tag "block-flyer8.png" %>
      </div>
    </div>
    <h2>Block Talk and Decentralized Blockchain Party in Downtown SF, Make Your First BTC Transaction, Talk Coins w/ Experts, Stay Late for Private Crypto-Party</h2>
    <div class="resources">
    <p>Doors will open at 7pm, we will begin showing people how to download Bitcoin wallets and Ethereum client for their first crypto transactions and rapidly go into technical details of Smart Property and Decentralized Autonomous Organizations. </p>

    <p>At 8pm, Kevin Greene will give a talk on how the blockchain works, why it is a revolutionary breakthrough, and the impact bitcoin will have on the world of finance. </p>

    <p>At 9pm, Joel Diez will introduce Ethereum and Smart-Contracts.</p>

    <p>The upstairs party will have bar and DJ courtesy of Teknokitchen.</p>

    <div class="coin">
      <div class="columns ten txt">
        <h4>Donate 1 mBTC to Support Bitspace360 </h4>
        <p>1DoFXMoNZ8pUcAJsrB4QRXZHevKGpzH421</p>
        <p>Download BTC wallet <a href="https://coinbase.com/" target="_blank">here.</a> We also will have people at the door to help facilitate transactions. <p>
      </div>
      <div class="columns six qr">
        <%= image_tag "btc-qr.png" %>
      </div>
    </div>
    <p><b>RSVP on the<a href="https://www.facebook.com/events/249764761869525" target="_blank"> Facebook Page →</a></b></p>
    <p><b>Discuss on Twitter using #blockpartysf or #bitspace360</b></p>

    </div>
    <hr class="twitter"> <a name="twitter"></a>
    <a class="twitter-timeline" href="https://twitter.com/search?q=%23blockpartysf+OR+%23bitspace360" data-widget-id="435509391081480193">Tweets about "#blockpartysf OR #bitspace360"</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  </div>
  <div class="columns four sidebar">
    <ul>
      <!--       <li>
        <div class="share-button">
          <a href="http://www.meetup.com/EthereumSiliconValley" target="_blank" class="meetup-button">Join the MeetUp</a>
        </div>
      </li> -->
      <li>
        <div class="share-button">
          <a href="#" id="twitter" class="twitter-button">Discuss on Twitter</a>
        </div>
      </li>
      <li>
        <div class="share-button">
          <a href="https://www.facebook.com/events/249764761869525" target="_blank" class="facebook-button">RSVP on Facebook</a>
        </div>
      </li>
    </ul>
    <hr>
    <span class="sidebar-header">Previous Events at bitspace360: </span><a href=/"ethereum_meetup" target="_blank">Ethereum MeetUp</a>
  </div>
</div>

