

<div class="container">
  <div class="container">
    <div class="columns sixteen donate">
      <h2>Support Us</h2>
      <p>Bitspace360 is funded entirely by donations from the bitcoin community. Your contributions support our projects, common space and infrastructure.</p>
    </div>
  </div>
  <div class="container">
    <div class="coin">
      <div class="columns ten txt">
        <h4>Bitcoin</h4>
        <p>You may send BTC to the following address:</p>
        <p>1DoFXMoNZ8pUcAJsrB4QRXZHevKGpzH421</p>
      </div>
      <div class="columns six qr">
        <%= image_tag "btc-qr.png" %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="coin">
      <div class="columns ten txt">
        <h4>Litecoin</h4>
        <p>You may send LTC to the following address:</p>
        <p>LgCpuNRsEo1iybtzq92Vd9rH4bvSNYPhC7</p>
      </div>
      <div class="columns six qr">
        <%= image_tag "ltc-qr.png" %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="coin">
      <div class="columns ten txt">
        <h4>Dogecoin</h4>
        <p>You may send DOGE to the following address:</p>
        <p>DGpziz7F2ZaN1KQaVWKSCpKTVTpuNB5uzd</p>
      </div>
      <div class="columns six qr">
        <%= image_tag "doge-qr.png" %>
      </div>
    </div>
  </div>
</div>
