

<div class="container">
  <div class="container">
    <div class="columns sixteen donate">
      <h2>Support Us</h2>
      <p>Bitspace360 is entirely supported by donations from the bitcoin community. Your contributions fund our projects, common space and infrastructure.</p>
    </div>
  </div>
  <div class="container">
    <div class="coin">
      <div class="columns ten txt">
        <h4>Bitcoin</h4>
        <p>You may send BTC to the following address:</p>
        <p>1HB5XMLmzFVj8ALj6mfBsbifRoD4miY36v</p>
      </div>
      <div class="columns six qr">
        <%= image_tag "qr.png" %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="coin">
      <div class="columns ten txt">
        <h4>Litecoin</h4>
        <p>You may send LTC to the following address:</p>
        <p>1HB5XMLmzFVj8ALj6mfBsbifRoD4miY36v</p>
      </div>
      <div class="columns six qr">
        <%= image_tag "qr.png" %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="coin">
      <div class="columns ten txt">
        <h4>Dogecoin</h4>
        <p>You may send BTC to the following address:</p>
        <p>1HB5XMLmzFVj8ALj6mfBsbifRoD4miY36v</p>
      </div>
      <div class="columns six qr">
        <%= image_tag "qr.png" %>
      </div>
    </div>
  </div>
</div>
