<div class="container">
  <div class="container">
    <div class="columns sixteen donate">
      <h2>Ethereum Genesis MeetUp</h2>
      <p>Silicon Valley Ethereum MeetUp held its first official meeting at Bitspace360</p>
    </div>
  </div>
  <div class="container">
    <div class="coin">
      <div class="columns ten txt">
        <h4>Bitcoin</h4>
        <p>You may send BTC to the following address:</p>
        <p>1DoFXMoNZ8pUcAJsrB4QRXZHevKGpzH421</p>
      </div>
      <div class="columns six qr">
        <%= image_tag "btc-qr.png" %>
      </div>
    </div>
  </div>
</div>