</div><header class="band" data-0="background-position:0px 0px;" data-500="background-position:0px -250px;">

	<div id='flash-notice'>
		<%= flash[:notice] %>
	</div>

	<div class="container">

		<div class="columns sixteen title" data-0="opacity: 1" data-180="opacity: 0">

			<h1>Bitspace360</h1>

			<a href="/inquiry/new" class="button">Work Here</a>

		</div><!--/ columns-->

	</div><!--/ container-->

</header><!--/ band-->

<div class="band main">

	<div class="container">

		<div class="columns sixteen crypto-header">

			<h2>CRYPTO-HACKERS UNITE IN THE HEART OF SF</h2>

		</div><!--/ column-->

		<div class="columns four offset-by-one main-icon-meetup">
			<a id="meetup" href="#">
				<div id="meetup-img"></div>
			</a>
			<h3>Events</h3>
		</div>

		<div class="columns four offset-by-one main-icon-mining">
			<a id="mining" href="#">
				<div id="mining-img"></div>
			</a>
			<h3>Mining</h3>
		</div>

		<div class="columns four offset-by-one main-icon-hacking">
			<a id="hacking" href="#">
				<div id="hacking-img"></div>
			</a>
			<h3>Hacking</h3>
		</div>

	</div><!--/ container-->

	<hr class="hr-body meetup-top"> <a name="meetup"></a>

	<div class="container meetup">

		<div class="columns ten">

			<div class="fluid-wrapper">

				<iframe src="https://mapsengine.google.com/map/embed?mid=z12WA6o0XH8c.k2wtwpv5M5p0"></iframe>

			</div>

		</div>

		<div class="columns six meetup-map-txt">

			<p>
				<strong>Bitspace360</strong><br>
				360 5th Street<br>
				San Francisco, CA 94107
			</p>
			<p>
				We host the following events for the bitcoin community in San Francisco:<br>
				<ul>
					<li><span class="bullet">&raquo;</span>&nbsp;<a href="http://www.meetup.com/Buttonwood-SF-P2P-Cryptocurrency-Trading/events/past/?scroll=true" target="_blank">Buttonwood SF</a><br></li>
					<li><span class="bullet">&raquo;</span>&nbsp;<a href="http://www.meetup.com/SF-Bitcoin-Devs/" target="_blank">SF Bitcoin Devs</a></li>
					<li><span class="bullet">&raquo;</span>&nbsp;<a href="http://www.meetup.com/EthereumSiliconValley/" target="_blank">Ethereum Meetup</a></li>
					<li><span class="bullet">&raquo;</span>&nbsp;<a href="#" target="_blank">Block Party on 2/22</a></li>
				</ul>
			</p>
		</div>

	</div><!--/ container-->

<!-- MINING container -->

	<div class="band main mining"> <a name="mining"></a>

		<div class="container">

			<div class="columns six mining-txt">

				<h2>Mine With Us</h2>
				<p>We offer resources to get you up and running at max hash rate:</p>
					<ul>
						<li><span class="bullet">&raquo;</span>&nbsp;Custom miners assembly</li>
						<li><span class="bullet">&raquo;</span>&nbsp;SHA-256 and Scrypt algorithms</li>
						<li><span class="bullet">&raquo;</span>&nbsp;Mining software and configuration</li>
						<li><span class="bullet">&raquo;</span>&nbsp;Cost-effective hosting</li>
						<li><span class="bullet">&raquo;</span>&nbsp;Miners showroom and consignment</li>
					</ul>
				<a href="/inquiry/new" class="mining-button">Lets Roll</a>

			</div>

			<div class="columns nine offset-by-one mining-img">

				<%= image_tag "litecoin-miner.png" %>

			</div>

		</div><!--/ container-->

	</div> <!-- band main mining	 -->

	<div class="container"> <a name="hacking"></a>

		<div class="columns sixteen hacking">

			<h2>A Community of Hackers</h2>

			<p>
				We share knowledge and experience with each other and with local businesses. Some of our areas of expertise include Bitcoin payment processing integration for Points of Sales, e-commerce and mobile apps; crypto-mediation for virtual items; Bitcoin implimentations in Python, Scala and Go. Check out a few of our recent projects:
			</p>
			<ul>
				<li><h3><a href="https://github.com/gobitcoin" target="_blank">Bitcoin wallet in Go</a></h3></li>
				<li><h3><a href="http://signup.pawncoin.com/" target="_blank">Use Bitcoin as collateral for a short-term loan</a></h3></li>
				<li><h3><a href="https://code.google.com/p/bitcoinj/wiki/PaymentProtocol" target="_blank">Bitcoin Java core development</a></h3></li>
				<li><h3><a href="http://www.eggify.com/" target="_blank">Find stuff to buy with Bitcoin</a></h3></li>
				<li><h3><a href="https://hashplex.com/" target="_blank">Hosting designed for Bitcoin miners</a></h3></li>
				<li><h3>Your project here</h3></li>
			</ul>
			<p class="down-aarow">&darr;</p>
		</div>
		<div class="center-button">
			<a href="/inquiry/new" class="button hacking-button">JOIN US</a>
		</div>
	</div><!--/ container-->
</div><!--/ band-main-->
